<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<body>
    <div class = "d-flex">
        <div id = "sidebar-container" class = "bg-primary">
            <div class = "menu">
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-person mr-2 lead"></i> Administradores</a>
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-person mr-2 lead"></i> Equipo de apoyo</a>
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-person-add mr-2 lead"></i> Operadores</a>
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-person-add mr-2 lead"></i> Docentes/Administrativos</a>
                <hr>
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-bookmarks mr-2 lead"></i> Cursos</a>
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-desktop mr-2 lead"></i> Activos</a>
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-pulse mr-2 lead"></i> Estatus de Averías</a>
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-timer mr-2 lead"></i> Disponibilidad de laboratorios</a>
                <a href="#" class = "d-block text-light p-2" ><i class="icon ion-md-calendar mr-2 lead"></i> Semestre</a>
            </div>
        </div>
    </div>
</body>

