<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <hr>
        <h5>Configuración</h5>
        <hr>
        <li><a href="#"><i class="fa fa-user-md fa-2x mr-2"></i> Administradores</a>
        </li>
        <li><a href="#"><i class="fa fa-users fa-2x mr-2"></i> Equipo de Apoyo</a>
        </li>
        <li><a href="#"><i class="fa fa-user-plus fa-2x mr-2"></i> Operadores</a>
        </li>
        <li><a href="#"><i class="fa fa-user-plus fa-2x mr-2"></i> Docentes/Administrativos</a>
        </li>
        <hr>
        <li><a href="#"><i class="fa fa-calendar fa-2x mr-2"></i> Semestre</a>
        </li>
        <li><a href="#"><i class="fa fa-clock-o fa-2x mr-2"></i> Disponibilidad de laboratorio</a>
        </li>
        <li><a href="#"><i class="fa fa-book fa-2x mr-2"></i> Cursos</a>
        </li>
        <li><a href="#"><i class="fa fa-desktop fa-2x mr-2"></i> Activos</a>
        </li>
        <li><a href="#"><i class="fa fa-wrench fa-2x mr-2"></i> Estatus de Averías</a>
        </li>
    </ul>
</div>
