<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li><a href="#"><i class="icon ion-md-person lead"> </i> Dashboard</a>
        </li>
        <li><a href="#">Shortcuts</a>
        </li>
        <li><a href="#">Overview</a>
        </li>
        <li><a href="#">Events</a>
        </li>
        <li><a href="#">About</a>
        </li>
        <li><a href="#">Services</a>
        </li>
        <li><a href="#">Contact</a>
        </li>
    </ul>
</div>
