<div class = "container-fluid">
    <div class= "row">
        <div class="col-sm-3">
            <div class = "container">
            <app-side-bar></app-side-bar>
            </div>
        </div>
        <div class="col">
            <div class = "container-fluid">
                <h1 >Gestión de Administradores</h1>
                      <table class="table table-striped table-hover table-condensed text-center">
                        <thead>
                          <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Laboratorio</th>
                            <th scope="col">Responsable</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Estado</th>
                          </tr>
                        </thead>
                        
                      </table>
                    
            </div> 
        </div>
    </div>
</div>