<div class="container-fluid" style="margin-left: 280px; max-width: 79%;">
    <div class="col">
      <h1>Gestión de Administradores</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed text-center">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Rol</th>
              <th scope="col">Permisos de Administrador</th>
            </tr>
          </thead>
        </table>
    </div>
    </div>
</div> 
           