<div id="mySidenav" class="sidenav">
  <hr class="mt-0" />
  <h3>Configuración</h3>
  <hr />
  <a class="nav-link" routerLink="administrator" routerLinkActive="active">
    <i class="fa fa-user-md fa-2x mr-2"></i> Administradores</a
  >
  <a class="nav-link" routerLink="supportTeam" routerLinkActive="active">
    <i class="fa fa-users fa-2x mr-2"></i> Equipo de Apoyo</a
  >
  <a class="nav-link" routerLink="operators" routerLinkActive="active">
    <i class="fa fa-user-plus fa-2x mr-2"></i> Operadores</a
  >
  <a
    class="nav-link"
    routerLink="teachersadministrative"
    routerLinkActive="active"
  >
    <i class="fa fa-user-plus fa-2x mr-2"></i> Docentes/Administrativos</a
  >
  <hr />
  <a class="nav-link" routerLink="semester" routerLinkActive="active">
    <i class="fa fa-calendar fa-2x mr-2"></i> Semestre</a
  >
  <a
    class="nav-link"
    routerLink="laboratoryAvailability"
    routerLinkActive="active"
  >
    <i class="fa fa-clock-o fa-2x mr-2"></i> Disponibilidad de laboratorio</a
  >
  <a class="nav-link" routerLink="courses" routerLinkActive="active">
    <i class="fa fa-book fa-2x mr-2"></i> Cursos</a
  >
  <a class="nav-link" routerLink="assets" routerLinkActive="active">
    <i class="fa fa-desktop fa-2x mr-2"></i> Activos</a
  >
  <a class="nav-link" routerLink="failuresStatus" routerLinkActive="active">
    <i class="fa fa-wrench fa-2x mr-2"></i> Estados de Averías</a
  >
</div>
