.sidenav {
  background-color: #0154a0;
}

.sidenav a {
  text-decoration: none;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
  background: rgba(255, 255, 255, 0.2);
}


h3 {
  color: white;
  text-align: center;
}
