<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="mySidenav" class="sidenav">
    <hr>
    <h3>Configuración</h3>
    <hr>
    <a class="nav-link" routerLink="administrator" routerLinkActive="active" >
      <i class="fa fa-user-md fa-2x mr-2"></i> Administradores</a>
    <a class="nav-link" routerLink="supportTeam" routerLinkActive="active" >
      <i class="fa fa-users fa-2x mr-2"></i> Equipo de Apoyo</a>
    <a href="#"><i class="fa fa-user-plus fa-2x mr-2"></i> Operadores</a>
    <a href="#"><i class="fa fa-user-plus fa-2x mr-2"></i> Docentes/Administrativos</a>
    <hr>
    <a href="#"><i class="fa fa-calendar fa-2x mr-2"></i> Semestre</a>
    <a href="#"><i class="fa fa-clock-o fa-2x mr-2"></i> Disponibilidad de laboratorio</a>
    <a href="#"><i class="fa fa-book fa-2x mr-2"></i> Cursos</a>
    <a href="#"><i class="fa fa-desktop fa-2x mr-2"></i> Activos</a> 
    <a href="#"><i class="fa fa-wrench fa-2x mr-2"></i> Estados de Averías</a>
    
  </div>

