<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container-fluid">
    <div class="col">
      <h1>Lista de Activos</h1>
      <div>
        <button class="mb-3 btn btn-primary" (click)="open(content)">Añadir Activo</button>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed text-center">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Descripción</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody id = "tableSearch">
            <tr *ngFor = "let activo of activos">
                <td> {{ activo.codigo }}</td>
                <td> {{ activo.descripcion }}</td>
                <td>
                  <input type="button" class="btn btn-success" id = "btnS{{activo.codigo}}" (click)="checkValue(activo)" value = "Habilitado">
                  <input type="button" class="btn btn-primary" id = "btnE{{activo.codigo}}" (click)="editState(activo,content)" value = "Editar">
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
</div> 

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuevo activo</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-row">
              <div class="form-group col">
                  <label for="codeAsset">Código</label>
                  <input type="text" class="form-control" id="codeAsset">
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label for="descriptionAsset">Descripción</label>
                  <textarea class="form-control" rows="5" id="descriptionAsset"></textarea>
              </div>
          </div>
      </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Guardar
    </button>
  </div>
</ng-template>
