<div class="container mt-5 mb-5">
  <div class="form">
    <form class="form-group">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputNombre">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" />
        </div>
        <div class="form-group col-md-4">
          <label for="inputNombre">Primer Apellido</label>
          <input
            type="text"
            class="form-control"
            placeholder="Primer Apellido"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputNombre">Segundo Apellido</label>
          <input
            type="text"
            class="form-control"
            placeholder="Segundo Apellido"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputNombre">Cédula</label>
          <input type="number" class="form-control" placeholder="Cédula" />
        </div>
        <div class="form-group col-md-4">
          <label for="inputNombre">Usuario</label>
          <input
            type="text"
            class="form-control"
            id="inputApellido1"
            placeholder="Primer Apellido"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputNombre">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="inputApellido2"
            placeholder="Segundo Apellido"
          />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNombre">Correo</label>
          <input type="number" class="form-control" placeholder="Cédula" />
        </div>
        <div class="form-group col-md-6">
          <label>Rol</label>
          <select class="form-control">
            <option *ngFor="let role of roles" [ngValue]="role">
              {{ role }}
            </option>
          </select>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-center">
          <button class="btn btn-primary btn-block" routerLink="/home">
            Registrarme
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
