<div class="container-fluid">
    <h1>Ajustar Semestre</h1>
    <div class="row justify-content-center">
        <div class="col">
            <div class="row justify-content-center">
                <label for="semesterStart"> Numero de Semestre</label>
            </div>
            <div class="row justify-content-center">
                <input type="text" name="dateSemester" id="semesterStart">
            </div>
        </div>
        
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <div class="row justify-content-center">
                <label for="semesterStart"> Fin del Semestre</label>
            </div>
            <div class="row justify-content-center">
                <input type="date" name="dateSemester" id="semesterStart">
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-center">
                <label for="semesterEnd"> Fin del Semestre</label>
            </div>
            <div class="row justify-content-center">
                <input type="date" name="dateSemester" id="semesterEnd">
            </div>
        </div>
    </div>
        
   
    
    
</div>