<div class="modal-header">
  <h4 class="modal-title">Solicitar reservación de laboratorio</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row" *ngIf="!selected">
    <div class="col-12">
      <div class="row">
        <div class="col-12 text-center">
          <h4>Seleccione el tipo de reservación</h4>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-4 text-center">
          <button type="button" class="btn btn-primary" (click)="handleClass()">
            Clase
          </button>
        </div>
        <div class="col-4 text-center">
          <button
            type="button"
            class="btn btn-primary"
            (click)="handleSelected('Tutoría')"
          >
            Tutoría
          </button>
        </div>
        <div class="col-4 text-center">
          <button
            type="button"
            class="btn btn-primary"
            (click)="handleSelected('Administrativa')"
          >
            Administrativa
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row" *ngIf="selected">
      <div class="col-12">
        <app-lab-reservation-normal
          #baseForm
          [type]="type"
          [laboratory]="laboratory"
          [event]="event"
        ></app-lab-reservation-normal>
        <app-lab-reservation-normal-class
          #classForm
          *ngIf="class"
        ></app-lab-reservation-normal-class>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" *ngIf="selected">
  <button
    *ngIf="baseForm && !classForm"
    type="button"
    [disabled]="baseForm.reservationForm.invalid"
    class="btn btn-primary"
    (click)="postBaseForm()"
  >
    Enviar
  </button>
  <button
    *ngIf="baseForm && classForm"
    type="button"
    [disabled]="
      baseForm.reservationForm.invalid || classForm.reservationForm.invalid
    "
    class="btn btn-primary"
    (click)="postClassForm()"
  >
    Enviar
  </button>
</div>
