<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a class="btn" routerLink="/dashboard">
        <h3 class="flip-front">Dashboard</h3>
        <p class="flip-back">
          Observar las métricas de CELabs.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn" routerLink="/reservations">
        <h3 class="flip-front">
          Reservar laboratorio
        </h3>
        <p class="flip-back">
          Visualizar disponibilidad y reservar.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn" routerLink="/inventory">
        <h3 class="flip-front">Reportar inventario</h3>
        <p class="flip-back">
          Crear, visualizar y editar.
        </p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a class="btn" routerLink="/hours">
        <h3 class="flip-front">
          Reportar horas
        </h3>
        <p class="flip-back">
          Aprobar y editar.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn" routerLink="/failures">
        <h3 class="flip-front">Reportar averías</h3>
        <p class="flip-back">
          Crear, visualizar y editar.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn" routerLink="/admin">
        <h3 class="flip-front">Administrador</h3>
        <p class="flip-back">Acceder a los ajustes de CELabs.</p>
      </a>
    </div>
  </div>
</div>
