<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a class="btn">
        <h3 class="flip-front">
          Reservar laboratorio
        </h3>
        <p class="flip-back">
          Visualizar disponibilidad y reservar.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn">
        <h3 class="flip-front">Dashboard</h3>
        <p class="flip-back">
          Observar las métricas de CELabs.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn">
        <h3 class="flip-front">Reportar inventario</h3>
        <p class="flip-back">
          Crear, visualizar y editar.
        </p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a class="btn">
        <h3 class="flip-front">
          Reportar de horas
        </h3>
        <p class="flip-back">
          Crear, visualizar y editar.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn">
        <h3 class="flip-front">Reportar averias</h3>
        <p class="flip-back">
          Crear, visualizar y editar.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a class="btn">
        <h3 class="flip-front">Ajustes de CELabs</h3>
        <p class="flip-back">Acceder a las configuraciones.</p>
      </a>
    </div>
  </div>
</div>
