<div class="modal-header">
  <h4 class="modal-title">Reservar laboratorio</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.close('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="reservationForm">
    <div class="form-row">
      <div class="form-group col-md-12">
        <h5>Información general de reservación</h5>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Motivo</label>
        <input
          type="text"
          class="form-control"
          placeholder="Motivo de reservación"
          formControlName="title"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Laboratorio a reservar</label>
        <input
          type="text"
          class="form-control"
          placeholder="Laboratorio"
          formControlName="laboratory"
          readonly
        />
      </div>
      <div class="form-group col-md-6">
        <label>Profesor a cargo</label>
        <select class="form-control" formControlName="teacher">
          <option *ngFor="let teacher of teachers"> {{ teacher }}</option>
        </select>
      </div>
    </div>
    <hr />
    <div class="form-row">
      <div class="form-group col-md-12">
        <h5>Bloques seleccionados</h5>
      </div>
    </div>
    <div formArrayName="events">
      <div class="form-row">
        <div
          *ngFor="let event of eventsForms.controls; let i = index"
          [formGroupName]="i"
          class="form-group col-md-6"
        >
          <label>Bloque {{ i + 1 }}</label>
          <input
            type="text"
            class="form-control"
            placeholder="Bloque"
            formControlName="block"
            readonly
          />
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="reserve()">
    Enviar
  </button>
</div>
