<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navBarAll">
  <a class="navbar-brand" routerLink="/home">CELabs</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
          >Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservations" routerLinkActive="active"
          >Reservación</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inventory" routerLinkActive="active"
          >Inventario</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hours" routerLinkActive="active"
          >Horas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/failures" routerLinkActive="active"
          >Averías</a
        >
      </li>
    </ul>
    <form class="form-inline">
      <span class="text-white align-middle">
        {{userClaims.FirstName}} {{userClaims.LastName}}
      </span>
    </form>
    <div
      ngbDropdown
      class="d-inline-block"
      placement="bottom-right"
      display="dynamic"
    >
      <div class="row no-gutters">
        <button class="btn" id="dropdownMenuButton" ngbDropdownToggle>
          <img
            src="https://icon-library.com/images/white-profile-icon/white-profile-icon-6.jpg"
            height="25"
          />
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem routerLink="/configuration">
            Configuración
          </button>
          <button ngbDropdownItem (click)="logout()">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="title != ''" class="container-fluid mt-4 mb-4 text-center">
  <h1>{{ this.title }}</h1>
</div>
