.container {
  padding-top: 2%;
}
.row {
  padding-bottom: 5%;
}

.single-content .Title {
  margin: 0;
  position: absolute;
  font-size: 20px;
  color: #000;
}

.single-content {
  box-shadow: 0 0 px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.single-content .image {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.single-content .big-img {
  width: 1150px;
  height: 250px;
  opacity: 0.5;
}

.single-content .img-text {
  width: 100%;
  height: 100%;
  background: rgba(1, 85, 160, 0.7);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: 0.5s;
  padding: 20% 0 0;
  color: #000;
  text-align: center;
}

.single-content:hover .img-text {
  opacity: 1;
  transform: perspective(400px) rotateX(0);
}

.single-content .Title {
  bottom: 25px;
  left: 25px;
  transition: 0.9s;
  font-size: 25px;
  text-transform: uppercase;
}

.single-content .Title::before {
  content: "";
  border-right: 3px solid #000;
  margin-right: 10px;
}

.single-content:hover .Title {
  bottom: -40px;
}
