<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a class="btn big">
        <h3 class="flip-front">
          Reservar laboratorio
        </h3>
        <p class="flip-back">
          Reservaciones de los laboratorios de la carrera CE para clases,
          tutorias o palmadas.
        </p>
      </a>
    </div>

    <div class="row">
      <div class="col-md-4">
        <a class="btn">
          <h3 class="flip-front">
            Reportar de horas
          </h3>
          <p class="flip-back">
            Crear, visualizar y editar reportes de horas de operadores.
          </p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn">
          <h3 class="flip-front">Reportar averias</h3>
          <p class="flip-back">
            Crear, visualizar, editar y dar seguimiento a las averias que se
            pueden encontrar en algún laboratorio.
          </p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn">
          <h3 class="flip-front">Reportar inventario</h3>
          <p class="flip-back">
            Crear, visualizar y editar reportes de inventarios de los distintos
            laboratorios.
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
