<div class="login-page">
  <div class="form">
    <div class="container">
      <h2 class="text-center">CE Labs XTEC</h2>
      <form class="login-form">
        <div class="row mt-5">
          <div class="col-6">
            <input type="text" placeholder="Usuario" />
          </div>
          <div class="col-6">
            <p class="estudiantec text-secondary">@estudiantec.cr</p>
          </div>
        </div>
        <div class="row">
          <input type="password" placeholder="Contraseña" />
        </div>
        <div class="row mt-5">
          <div class="col">
            <button class="btn btn-primary btn-block" routerLink="/home">
              Iniciar sesión
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<p class="text-center">Último deployment el 5 de agosto a la 04:48 a.m.</p>
