<div class="login-page">
  <div class="form">
    <div class="container">
      <h2 class="text-center">CE Labs XTEC</h2>
      <form class="login-form">
        <div class="row mt-5">
          <div class="col-6">
            <input type="text" placeholder="Usuario" />
          </div>
          <div class="col-6">
            <p class="estudiantec">@estudiantec.cr</p>
          </div>
        </div>
        <div class="row">
          <input type="password" placeholder="Contraseña" />
        </div>
        <div class="row mt-5">
          <button class="">Iniciar sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
<p class="text-center">Último deployment el 22 de julio a la 1:55 a.m.</p>
