<div class="login-page">
  <div class="form">
    <div class="container">
      <h2 class="text-center">CE Labs XTEC</h2>
      <form class="login-form" [formGroup]="loginForm">
        <div class="row mt-5">
          <div class="col">
            <div class="row mb-3">
              <input
                type="text"
                placeholder="Nombre de usuario"
                formControlName="username"
              />
              <div
                class="alert alert-danger text-left"
                role="alert"
                *ngIf="username.invalid && username.touched"
              >
                Debe ingresar un nombre de usuario válido.
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
          />
          <div
            class="alert alert-danger text-left"
            role="alert"
            *ngIf="password.invalid && password.touched"
          >
            Debe ingresar una contraseña válida.
          </div>
        </div>
        <div class="row">
          <select class="form-control" formControlName="role">
            <option *ngFor="let role of roles" [ngValue]="role">
              {{ role }}
            </option>
          </select>
          <div
            class="alert alert-danger text-left"
            role="alert"
            *ngIf="role.invalid && role.touched"
          >
            Debe ingresar un rol.
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <button
              class="btn btn-primary btn-block"
              [disabled]="loginForm.invalid"
              (click)="post()"
            >
              Iniciar sesión
            </button>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <a routerLink="/register">Registrarse</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="openSurvey()">
        Llenar encuesta de satisfacción
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12">
      <p class="text-center">
        Último deployment el 14 de agosto a la 01:56 a.m.
      </p>
    </div>
  </div>
</div>
