<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha del turno</th>
      <th scope="col">Horas registradas</th>
      <th scope="col">Hora de inicio</th>
      <th scope="col">Hora de finalización</th>
      <th scope="col">Reportado</th>
      <th scope="col">Estado</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>20/20/20</td>
      <td>3</td>
      <td>2:30</td>
      <td>5:30</td>
      <td>20/20/20, 5:35</td>
      <td>Aprobado</td>
    </tr>
  </tbody>
</table>
