<div class="container">
  <div>
    <button
      class="m-3 btn btn-primary"
      (click)="open('Nuevo reporte de horas')"
      *ngIf="!admin"
    >
      Añadir nuevo reporte de horas
    </button>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover table-condensed text-center">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Horas registradas</th>
            <th scope="col">Hora de inicio</th>
            <th scope="col">Hora de finalización</th>
            <th scope="col">Reportado</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
            <th *ngIf="admin" scope="col">Aprobar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hour of hours; index as i">
            <td>{{ hour.fecha }}</td>
            <td>{{ hour.horasRegistradas }}</td>
            <td>{{ hour.horaInicio }}</td>
            <td>{{ hour.horaFinal }}</td>
            <td>{{ hour.reportado }}</td>
            <td>{{ hour.estado }}</td>
            <td>
              <a
                *ngIf="hour.estado !== 'Aprobado'"
                class="fa fa-pencil-square-o fa-2x"
                (click)="open('Editar reporte de horas', hour)"
              ></a>
            </td>
            <td *ngIf="admin">
              <button
                *ngIf="hour.estado !== 'Aprobado'"
                class="btn btn-primary"
                (click)="approve(hour)"
              >
                Aprobar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
