$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$primary: #0154A0;
$primary-hover: #01396E;
$danger: #6E110C;
$danger-hover: #3B0906;
$secondary: #4A9EED;
$seconday-hover: #027CED;
$dark: #01396E;
$info: #027CED;
$light: #3775B0;
