<div class="container">
  <div>
    <button class="m-3 btn btn-primary" (click)="open(content)">
      Añadir nuevo reporte de avería
    </button>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <table
        class="table table-striped table-hover table-condensed text-center"
      >
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Laboratorio</th>
            <th scope="col">Responsable</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let averia of averias; index as i">
            <td>{{ averia.fecha }} {{ averia.hora }}</td>
            <td>{{ averia.laboratorio }}</td>
            <td>{{ averia.responsable }}</td>
            <td>{{ averia.descripcion }}</td>
            <td>{{ averia.estado }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Nuevo reporte de avería
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <label for="operador">Operador a cargo</label>
        <input class="form-control py-1" type="text" />
        <div class="row py-1">
          <div class="col">
            <label>Fecha</label>
            <div class="input-group">
              <input
                class="form-control"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker"
                [ngClass]="my_group"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar fa fa-calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
          <div class="col">
            <label>Hora</label>
            <br />
            <input
              class="form-control input-lg"
              type="time"
              id="timePicker"
              name="input"
              placeholder="HH:mm:ss"
            />
          </div>
          <div class="col">
            <label for="sel1">Laboratorio</label>
            <select class="form-control" id="sel1">
              <option *ngFor="let lab of laboratorios"> {{ lab }}</option>
            </select>
          </div>
          <div class="col">
            <label for="asset">Activo</label>
            <select class="form-control" id="asset">
              <option *ngFor="let asset of assets"> {{ asset }}</option>
            </select>
          </div>
        </div>
        <label class="py-1" for="descripcion">Descripcion</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Save click')"
      >
        Enviar
      </button>
    </div>
  </ng-template>
</div>
